/* Global */
.home {
	background: #D5DED9;
}

.bio {
	background: #D5DED9;
}



/* nav */
nav a:link {
  color: #7A6A53;
  text-decoration: none;
  
}
nav a:visited {
   color: #948C75;
  
}
nav :focus {
  background: orange;
}
nav a:hover {
  color: #7acbc0;
  }

nav a:active {
  
  color: #948C75;
}

/* Bio */

h1 {
background-color: #99B2B7;
color: #7A6A53;
text-align: center;
font-size: 4em;
line-height: 1.5;
font-family: 'Pacifico';
margin: auto;
padding: 10px;
 
}




h2 {
  color: #948C75;
  font-family: 'Amatic SC';
  font-size: 2.0em;
  line-height: 1.5;
  text-align: center;
  margin: auto;
  padding: 10px;  
}
p {
  margin: auto;
  padding: 10px;  
}

h3 {
   font-family: 'Amatic SC';
   color: #948C75;
   font-size: 1.5em;
   line-height: 1.5;
   text-align: center;
   margin: auto;
   padding: 10px; 
}

body {

	 font-family: 'Amatic SC';
   font-size: 1.25em;
   line-height: 1.5;
   text-align: center;
   margin: auto;
   padding: 10px; 
}
